.chrome-ruller-overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 9999;
  direction: ltr;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.chrome-ruller-overlay * {
  margin: 0;
  padding: 0;
}
.chrome-ruller-overlay div[class^=ui-resizable] {
  background: none;
}
.chrome-ruller-overlay div {
  width: auto;
  background-color: transparent;
  border-radius: 0;
}
.chrome-ruller-overlay .cr-wrapper {
  background-color: transparent;
  position: absolute;
}
.chrome-ruller-overlay .cr-wrapper .cr-ruller {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  cursor: pointer;
  border-radius: 0;
}
.chrome-ruller-overlay .cr-wrapper .cr-ruller .cr-selection {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #90ff84;
}
.chrome-ruller-overlay .cr-wrapper .cr-ruller:focus {
  outline: none;
}
.chrome-ruller-overlay .cr-wrapper .cr-ruller:focus .cr-line {
  border-color: white;
}
.chrome-ruller-overlay .cr-wrapper .cr-value {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  -webkit-touch-callout: none;
  user-select: none;
}
.chrome-ruller-overlay .cr-wrapper .cr-value.cr-width {
  top: -27px;
  right: 50%;
  transform: translateX(50%);
}
.chrome-ruller-overlay .cr-wrapper .cr-value.cr-height {
  left: -40px;
  top: 50%;
  min-width: 60px;
  transform: translateY(-50%) rotateZ(-90deg);
}
.chrome-ruller-overlay .cr-wrapper .cr-line {
  position: absolute;
  border-top: 1px dashed #00ffff;
  border-right: 1px dashed #00ffff;
  z-index: 0;
  background-color: none;
}
.chrome-ruller-overlay .cr-wrapper .cr-line.cr-top {
  height: 1px;
  top: -1px;
  right: 50%;
  transform: translateX(50%);
}
.chrome-ruller-overlay .cr-wrapper .cr-line.cr-right {
  width: 1px;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.chrome-ruller-overlay .cr-wrapper .cr-line.cr-bottom {
  height: 1px;
  bottom: -1px;
  right: 50%;
  transform: translateX(50%);
}
.chrome-ruller-overlay .cr-wrapper .cr-line.cr-left {
  width: 1px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.chrome-ruller-overlay .cr-wrapper .cr-rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}
.chrome-ruller-overlay .cr-wrapper .cr-rotate .cr-rotateLabel {
  display: none;
}
.chrome-ruller-overlay .cr-wrapper .cr-rotate .cr-rotateLabel:after {
  content: '°';
}
.chrome-ruller-overlay .cr-wrapper .cr-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 120px;
  min-height: 80px;
  text-shadow: 0 0 10px white;
  font-size: 16px;
}
.chrome-ruller-overlay .cr-wrapper .cr-info > div {
  user-select: none;
  position: absolute;
}
.chrome-ruller-overlay .cr-wrapper .cr-info .cr-info-left {
  left: 10px;
}
.chrome-ruller-overlay .cr-wrapper .cr-info .cr-info-top {
  top: 10px;
  width: 100%;
  text-align: center;
}
.chrome-ruller-overlay .cr-wrapper .cr-info .cr-info-right {
  right: 10px;
}
.chrome-ruller-overlay .cr-wrapper .cr-info .cr-info-bottom {
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.chrome-ruller-overlay .cr-wrapper.cr-rotated {
  border: 1px dashed #d3d3d3;
}
.chrome-ruller-overlay .cr-wrapper.cr-rotated .cr-rotate .cr-rotateLabel {
  display: block;
}
.chrome-ruller-overlay .cr-menu {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  top: 10px;
  right: 10px;
  box-shadow: 0 0 30px 5px white;
  position: fixed;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}
.chrome-ruller-overlay .cr-menu label {
  display: block;
}
.chrome-ruller-overlay .cr-menu span {
  cursor: pointer;
  width: calc(50% - 20px);
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
}
